.form-container {
    position: relative;
    width: 850px;
    height: fit-content;
    background-color: #fff;
    /* box-shadow: 5px 5px 5px #5557; */
    border-radius: 13px;
}
h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.hr-container {
    display: flex;
    justify-content: center;
}
.centered-hr {
    width: 90%;
}
button {
    float: right;
}