<div class="form-container">
  <form>
    <h2>Thông Tin Lịch Bay Mới</h2>
    <div class="hr-container">
      <hr class="centered-hr" />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label"
        >Mã Chuyến Bay:</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="list.MACB"
        name="list.MACB"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Ngày Bay:</label>
      <input
        type="date"
        placeholder="name@example.com"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="list.NGAYBAY"
        name="list.NGAYBAY"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Tổng Ghế:</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="list.SOLUONGGHE"
        name="list.SOLUONGGHE"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Đơn Giá:</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="list.DONGIA"
        name="list.DONGIA"
      />
    </div>

    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label"
        >Số Hiệu Máy Bay:</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="list.SOHIEUMAYBAY"
        name="list.SOHIEUMAYBAY"
      />
    </div>
    <button
      type="button"
      class="btn btn-success my-2 mx-5"
      (click)="createFlightList()"
      mat-dialog-close
    >
      Tạo
    </button>
  </form>
</div>
