<div class="form-container">
  <form>
    <h2>Thông Tin Lịch Bay Mới</h2>
    <div class="hr-container">
      <hr class="centered-hr" />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label"
        >Mã Chuyến Bay:</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="user.hoTen"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Ngày Bay:</label>
      <input
        type="date"
        placeholder="name@example.com"
        class="form-control"
        id="exampleInputPassword1"
        name="user.email"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Tổng Ghế:</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        name="user.sdt"
      />
    </div>
    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label">Đơn Giá:</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        name="user.matKhau"
      />
    </div>

    <div class="mb-3 px-5">
      <label for="exampleInputPassword1" class="form-label"
        >Số Hiệu Máy Bay:</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="user.matKhau"
      />
    </div>
    <button type="button" class="btn btn-success my-2 mx-5" mat-dialog-close>
      Tạo
    </button>
  </form>
</div>
